<header <div class="header__container">
  <div class="header__logo">
    <a class="logo" href="../Pages/trangchu.html">VALI.COM</a>
  </div>
  <div class="header__search">
    <input type="search" placeholder="Tìm nhanh vali, túi xách" />
    <span><i class="fa-solid fa-magnifying-glass"></i></span>
  </div>
  <div class="header__cart">
    <a href="login.html" class="header__cart-login header__cart-link">
      <i class="fa-solid fa-user"></i
    ></a>
    <a href="#" class="header__cart-bell header__cart-link"
      ><i class="fa-solid fa-bell"></i>
    </a>
    <a href="cart.html" class="header__cart-cart header__cart-link"
      ><i class="fa-solid fa-cart-shopping"></i>
      <span class="header__cart-number">2</span>
      <div class="header__cart-container">
        <!-- khong co sp thi them class header__cart-no-content -->
        <img src="../../img/no_cartpng.png" alt="" class="header__cart-img" />
        <span class="content">Chưa có sản phẩm</span>
        <h3 class="heade__cart-havecart-title">Sản phẩm mới thêm</h3>
        <ul class="header__cart-container-list">
          <li class="header__cart-container-item">
            <img
              src="../../img/sp.jpeg"
              alt=""
              class="header__cart-container-item-img"
              id="cartHeader"
            />
            <div class="header__cart-container-item-info">
              <p class="header__cart-container-item-info-name">
                Mô tả sản phẩm vali du lịch
              </p>
              <p class="header__cart-container-item-info-price">2.100.000 đ</p>
            </div>
          </li>
          <li class="header__cart-container-item">
            <img
              src="../../img/sp.jpeg"
              alt=""
              class="header__cart-container-item-img"
            />
            <div class="header__cart-container-item-info">
              <p class="header__cart-container-item-info-name">
                Mô tả sản phẩm vali du lịch
              </p>
              <p class="header__cart-container-item-info-price">2.100.000 đ</p>
            </div>
          </li>
        </ul>
        <button class="header__cart-btn-displaycart">Xem Giỏ Hàng</button>
      </div>
    </a>
  </div>
</header>
<nav class="navbar-nav navbar-expand">
  <ul class="navbar nav">
    <li class="nav-item">
      <a href="../Pages/trangchu.html" class="nav-link color-text">TRANG CHỦ</a>
    </li>
    <li class="nav-item">
      <a href="../Pages/vali.html" class="nav-link color-text">VALI</a>
      <div class="nav-vali">
        <ul class="nav navbar d-flex">
          <li class="nav-item bodermenu">
            <ul class="list-unstyled vali-nav">
              <li class="nav-item">
                <a href="#" class="nav-link">Vali kéo nhựa</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Vali kéo vải</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Vali khóa khung</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Vali kéo cao cấp</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Vali kéo trẻ em</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <img class="nav-img" src="../../img/vali_category1.jpg" alt="" />
              Vali khóa khung
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <img class="nav-img" src="../../img/vali_category2.jpg" alt="" />
              Vali kéo nhựa dẻo
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <img class="nav-img" src="../../img/vali_category3.jpg" alt="" />
              Vali kéo nhựa cứng
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a href="../Pages/tuixach.html" class="nav-link color-text">TÚI XÁCH</a>
      <div class="nav-vali">
        <ul class="nav navbar d-flex">
          <li class="nav-item bodermenu">
            <ul class="navbar nav d-flex flex-column vali-nav">
              <li class="nav-item">
                <a href="#" class="nav-link">Túi bao tử</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Túi đeo chéo</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Túi chống sốc</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Túi trống</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <img class="nav-img" src="../../img/tuideocheo.webp" alt="" />
              Túi Đeo Chéo Otis LS130028
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <img class="nav-img" src="../../img/tuitrong.webp" alt="" />
              Túi trống Highland HLT_9080
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <img class="nav-img" src="../../img/tuideo.webp" alt="" />
              Túi Đeo National Geographic N21210
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
